body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* These styles make the body full-height */
html,
body {
  height: 100%;
}
/* These styles disable body scrolling if you are using <ScrollView> */
body {
  max-height: "100vh";
  /* overflow: hidden; */
}
/* These styles make the root element full-height */
#root {
  display: flex;
  height: 100%;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
div::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
  height: 8px;
}

div::-webkit-scrollbar-track {
  background: #333;        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color:#666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}